<!-- app/views/layouts/application.html.erb (modifications) -->
<!DOCTYPE html>
<html>
<head>
  <title>Souk Machine</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload", "cache-buster": Time.now.to_i %>
  <%= javascript_importmap_tags %>
  <%= javascript_pack_tag 'react_app' %> <!-- Add this line for React -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
  <!-- Add other head content -->
</head>

<body>
  <% if content_for?(:react_app) %>
    <%= yield(:react_app) %>
  <% else %>
    <div id="react-app">
      <!-- The React app will be rendered here -->
    </div>
  <% end %>

  <script>
    // Make the MAPBOX_API_KEY available to the React app
    window.MAPBOX_API_KEY = "<%= ENV['MAPBOX_API_KEY'] %>";
  </script>
</body>
</html>
